<div class="container">
    <div class='row'>
            <div class='col-md-4 text-left'>
                <p>Lorem Ipsum comes from sections 1.10.32 and 1.10.33 of "de Finibus Bonorum et Malorum</p>
            </div>
            <div class='col-md-4 text-left'>
                <h4>Duis</h4>
                <ul>
                <li><a href='index.html'>Duis</a></li>
                <li><a href='all.html'>Duis</a></li>
                </ul>
                <ul>
                <li><a href='faq.html'>Duis</a></li>
                <li><a href='contact.html'>Duis</a></li>
                </ul>						  
            </div>
            <div class='col-md-4 text-left'>
                <h4>Contact us</h4>
                <p>Ipsum comes from sections<br>
                    Phone: 0000-00000<br>
                    E-Mail: <a href='mailto:xxx@gmail.com'>xxx@gmail.com</a>
                </p>
            </div>
    </div>
</div>	        
